@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline: 20px;
}

body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}
/* End Resets */

.flex{
    display: flex;
    align-items: center;
}

.secondary-btn{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 500;
    padding: 10px 20px;
    color: var(--primary-text-color) !important;
    transition: 0.2s ease-out;
}

.secondary-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

.primary-btn{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-btn:hover{
    background-color: var(--accent-color-dark);
}

.small-text{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline);
    overflow: hidden;
}

.topbanner{
    background-color: #4fb3d4;
    background-image: url(./assets/asset\ 32.png);
    background-size: 300px;
}

.logo img{
    width: 200px;
}

.main-nav{
    margin-top: 10px;
    justify-content: space-between;
}

.nav-link{
    flex-basis: 730px;
}

.nav-link ul{
    justify-content: end;
    gap: 35px;
}

.hover-link{
    color: var(--primary-text-color);
}

.hover-link:hover {
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

.header{
    padding: 50px var(--padding-inline);
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;
}

.header-right img{
    width: 600px;
}

.header-left h1{
    margin-top: 20px;
    padding-right: 20px;
}
.header-left p{
    padding-right: 15px;
}
.btn{
    margin-top: 20px;
}

.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 600;
}

.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logo{
    height: 46px;
}

.feature-section{
    padding: 80px var(--padding-inline) 0;
}

.feature-heading{
    text-align: center;
    margin-block: 50px 30px;
    font-weight: 600;
}

.feature-heading h2{
    margin-bottom: 20px;
}

.card{
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 30%;
}

.card img{
    width: 40px;
}

.feature-card{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.big-feature{
    margin-top: 100px;
}

.f-img img{
    width: 500px;
}

.f-section{
    gap: 60px;
}

.f-tex{
    flex-basis: 60vw;
    padding: var(--padding-inline);
    font-weight: 500;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.big-feature{
    flex-direction: column;
    gap: 50px;
}

.example{
    margin-top: 50px;
}

.example-header{
    text-align: center;
}

.example-header h2{
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.example-card{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 35.jpeg);
    background-size: contain;
    color: white;
    width: 24%;
    height: 350px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding-inline: 10px;
    transition: 0.5s ease-out all;
}

.example-card:hover{
    transform: scale(1.1);
    z-index: 3;
    border-radius: 20px;
    box-shadow:  14px 14px 28px #a89e9e,
                -14px -14px 28px #e8dada;
}

.example-card h3{
    padding-bottom: 10px;
}

.change-img-2{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 36.jpeg);
    background-size: contain;
}

.change-img-3{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 39.jpeg);
    background-size: contain;
}

.change-img-4{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 34.jpeg);
    background-size: contain;
}

.example-section{
    justify-content: space-between;
    margin-block: 50px 25px;
}

.cta{
    background-color: #183b54;
    padding: 70px var(--padding-inline) 60px;
    margin-top: 50px;
}

.cta-section{
    flex-direction: column;
    gap: 20px;
    color: white;
}

.cta-section p{
    color: #b9cde4;
}

.footer{
    background-color: #ebf2fa;
}

.footer-section{
    justify-content: space-evenly;
    padding-block: 100px 70px;
}

.company-logo img{
    width: 150px;
}

.link-column{
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.sub-footer{
    background-color: #b9cde4;
}

.sub-list{
    justify-content: center;
    gap: 30px;
    padding: var(--padding-inline);
}

/* Media queries */

@media screen and (max-width: 992px) {

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.7rem;
    }
    
    h3{
        font-size: 1.2rem;
    }

    .header{
        padding: 30px var(--padding-inline);
    }

    .nav-link ul{
        justify-content: end;
        gap: 25px;
    }

    .header-left{
        max-width: 40vw;
        padding-left: 15px;
    }
    
    .header-right img{
        width: 100%;
    }

    feature-section {
        padding: 10px var(--padding-inline) 0;
    }

    .f-img img{
        width: 100%;
    }

    .example-header h2 {
        font-size: 2rem;
    }

}